<!-- Header -->

<header class="header">
  <div id="menu-btn" class="fa-solid fa-bars-staggered" (click)="open()"></div>
  <a data-aos="zoom-in-left" data-aos-delay="150" class="logo" href="#"><i class="fa-solid fa-route"></i><span>Tra</span>vel</a>
  <nav class="navbar">
    <a data-aos="zoom-in-left" data-aos-delay="300" href="#home">Home</a>
    <a data-aos="zoom-in-left" data-aos-delay="450" href="#about">About</a>
    <a data-aos="zoom-in-left" data-aos-delay="600" href="#destination">Destination</a>
    <a data-aos="zoom-in-left" data-aos-delay="750" href="#services">Services</a>
    <a data-aos="zoom-in-left" data-aos-delay="900" href="#gallery">Gallery</a>
    <a data-aos="zoom-in-left" data-aos-delay="1150" href="#blogs">Blogs</a>
  </nav>
  <a data-aos="zoom-in-left" data-aos-delay="1300" href="#book-form" class="btn">Book Now</a>
</header>

<!-- Home Section -->

<section class="home" id="home">
  <div class="content">
    <span data-aos="fade-up" data-aos-delay="150">Follow Us</span>
    <h4 data-aos="fade-up" data-aos-delay="300">To the Unknown</h4>
    <p data-aos="fade-up" data-aos-delay="450">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo ad beatae necessitatibus
      exercitationem id recusandae ullam eos tempora ut pariatur?</p>
    <a data-aos="fade-up" data-aos-delay="600" href="#" class="btn">Book Now</a>
  </div>
</section>

<!-- Booking Section  -->

<section class="book-form" id="book-form">
  <form action="">
    <div data-aos="xoom-in" data-aos-delay="150" class="inputBox">
      <span>Where to?</span>
      <input type="text" placeholder="place name" value="">
    </div>
    <div data-aos="xoom-in" data-aos-delay="300" class="inputBox">
      <span>When?</span>
      <input type="date" value="">
    </div>
    <div data-aos="xoom-in" data-aos-delay="450" class="inputBox">
      <span>How many?</span>
      <input type="number" placeholder="number of travellers" value="">
    </div>
    <input data-aos="xoom-in" data-aos-delay="600" type="submit" value="find now" class="btn">
  </form>
</section>

<!-- About Section  -->

<section class="about" id="about">
  <div class="video-container" data-aos="fade-right" data-aos-delay="300">
    <video src="../assets/about-vid-1.mp4" muted autoplay loop class="video"></video>
    <div class="controls" (click)="slideShow()">
      <span class="control-btn" data-src="../assets/about-vid-1.mp4"></span>
      <span class="control-btn" data-src="../assets/about-vid-2.mp4"></span>
      <span class="control-btn" data-src="../assets/about-vid-3.mp4"></span>
    </div>
  </div>

  <div class="content" data-aos="fade-left" data-aos-delay="600">
    <span>Why Choose Us?</span>
    <h4>Nature's Majesty Awaits You</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iure in,
      tempore dolorem quas sit perspiciatis. Totam voluptatibus vel sequi.</p>
    <a href="#" class="btn">Read More</a>
  </div>
</section>

<!-- Destinations Section  -->

<section class="destination" id="destination">
  <div class="heading">
    <span>Our Destination</span>
    <h2>Make your Destination</h2>
  </div>

  <div class="box-container">
    <div class="box" *ngFor="let item of destinationList" data-aos="fade-up" data-aos-delay="150">
      <div class="image">
        <img [src]="item.Image" alt="">
      </div>
      <div class="content">
        <h3>{{item.Title}}</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        <a href="#">Read More <i class="fa-solid fa-caret-right"></i></a>
      </div>
    </div>
  </div>
</section>

<!-- Service Section  -->

<section class="service" id="services">
  <div class="heading">
    <span>Our Services</span>
    <h2>Countless Experiences</h2>
  </div>
  <div class="box-container">
    <div class="box" *ngFor="let item of serviceList" data-aos="zoom-in-up" data-aos-delay="150">
      <i [class]="item.icon"></i>
      <h3>{{item.Title}}</h3>
      <p>{{item.description}}</p>
    </div>
  </div>
</section>

<!-- Gallery Section  -->

<section class="gallery" id="gallery">
  <div class="heading">
    <span>Our Gallery</span>
    <h2>We record Memories</h2>
  </div>
  <div class="box-container">
    <div class="box" *ngFor="let item of galleryList" data-aos="zoom-in-up" data-aos-delay="150">
      <img [src]="item.Image" alt="">
      <span>Travel Spot</span>
      <h3>{{item.Title}}</h3>
    </div>
  </div>
</section>

<!-- Review Section  -->

<section class="review">
  <div class="content" data-aos="fade-right" data-aos-delay="300">
    <span>Testimonials</span>
    <h4>Good News from Our Clients</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
       Tempora debitis eum fuga corrupti dolore eveniet incidunt <br>
       exercitationem ex assumenda voluptatibus.</p>
  </div>
  <div class="box-container" data-aos="fade-left" data-aos-delay="300">
    <div class="box" *ngFor="let item of reviewList">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, ullam.</p>
      <div class="user">
        <img [src]="item.icon" alt="">
        <div class="info">
          <h3>{{item.Title}}</h3>
          <span>{{item.description}}</span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Blogs Section  -->

<section class="blogs" id="blogs">
  <div class="heading">
    <span>Blogs & Posts</span>
    <h2>Our Untold Stories</h2>
  </div>
  <div class="box-container">
    <div class="box" *ngFor="let item of blogsList" data-aos="fade-up" data-aos-delay="150">
      <div class="image">
        <img [src]="item.Image" alt="">
      </div>
      <div class="content">
        <a href="#" class="link">Life is a journey, not a destination</a>
        <p>{{item.paragraph}}</p>
        <div class="icon">
          <a href="#"><i class="fas fa-clock"></i>{{item.date}}</a>
          <a href="#"><i class="fas fa-user"></i>by {{item.username}}</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Banner Section   -->

<div class="banner">
  <div class="content" data-aos="zoom-in-up" data-aos-delay="300">
    <span>Start Your Advenures</span>
    <h4>Let's Explore This World</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima velit et voluptates <br>
      ipsum voluptatem tempore saepe? Rem expedita temporibus culpa.</p>
      <a href="#book-form" class="btn">Book Now</a>
  </div>
</div>

<!-- Footer Section  -->

<section class="footer">
  <div class="box-container">
    <div class="box" data-aos="fade-up" data-aos-delay="150">
      <a class="logo" href="#"><i class="fa-solid fa-route"></i><span>Tra</span>vel</a>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt mollitia laudantium aliquid.</p>
      <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
      </div>
    </div>
    <div class="box" data-aos="fade-up" data-aos-delay="300">
      <h3>Quick Links</h3>
      <a class="links" href="#home"><i class="fas fa-arrow-right"></i>Home</a>
      <a class="links" href="#about"><i class="fas fa-arrow-right"></i>About</a>
      <a class="links" href="#destination"><i class="fas fa-arrow-right"></i>Destination</a>
      <a class="links" href="#services"><i class="fas fa-arrow-right"></i>Services</a>
      <a class="links" href="#gallery"><i class="fas fa-arrow-right"></i>Gallery</a>
      <a class="links" href="#blogs"><i class="fas fa-arrow-right"></i>Blogs</a>
    </div>

    <div class="box" data-aos="fade-up" data-aos-delay="450">
      <h3>Contact Info</h3>
      <p><i class="fas fa-map"></i> Mysuru, Karnataka, India</p>
      <p><i class="fas fa-phone"></i> +91-9123456789</p>
      <p><i class="fas fa-map"></i> Travel@gmail.com</p>
      <p><i class="fas fa-map"></i> 9:00 am - 9:00 pm</p>
    </div>

    <div class="box" data-aos="fade-up" data-aos-delay="600">
      <h3>Contact Us</h3>
      <form action="">
        <input type="text" placeholder="Enter your name" class="email">
        <input type="email" placeholder="Enter your email" class="email">
        <textarea class="email" placeholder="Enter your Message" id=""></textarea>
        <input type="submit" value="Contact Us" class="btn">
      </form>
    </div>
  </div>
</section>
